/* src/pages/admin/AdminLogin.css */
.admin-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2E3B4E;
  }
  
  .admin-login-container {
    background-color: #333;
    color: #fff;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
  }
  
  .admin-login-container h2 {
    color: #F3C623;
  }
  
  .form-group label {
    color: #F3C623;
    text-align: left;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #e6e6e6;
    margin-bottom: 15px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #F3C623;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: #ff6b6b;
  }
  